@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=DynaPuff:wght@400..700&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    overflow-y: scroll;
}
.contact{
    color: rgb(92, 15, 15);
}
.mobile{
    display: none;
}
/* Nav Bar Start */
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    height: 70px;
    background: white;
    width: 100%;
    z-index: 1000;
}
.link{
    place-content: center;
}
.link ul{
    display: flex;
}
.link ul li{
    list-style: none;
    margin: 0px 15px;
}
.link ul li a{
    text-decoration: none;
    color:#6A6666;
}
.link ul li .home{
    color: black;
}
.link ul li a:hover{
    color: black;
}
.button{
    display: flex;
}
.button a{
    text-decoration: none;
    color: white;
}
.button button i{
    margin-right: 10px;
}
.button button{
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    margin: 0px 2px;
    padding: 5px 10px;
    background: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}
.button button:hover{
    color: white;
    background-color: black;
}
/*Nav Bar End*/
.heading{
    margin-top: 70px;
}
.heading h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.container{
    border-top: 2px solid gray;
    display: grid;
    place-content: center;
    margin: 0px 50px;
}
form{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 40px;
    row-gap: 10px;
}
form p{
    display:grid;
    row-gap: 10px;
    margin-bottom: 10px;
}
form input{
    border-radius: 4px;
    height: 30px;
    border-color: gray;
}
form textarea{
    border-radius: 4px;
    border: 2px solid gray;
    height: auto;
}
form input::placeholder{
    padding-left: 15px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
form textarea::placeholder{
    padding-left: 15px;
    padding-top: 5px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
form .btn{
    display: grid;
    place-items: center;
}
.btn input{
    width: 50px;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    cursor: pointer;
}
footer{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
